In [1]:
#Accessing IBM Cloud DataBase using python

In [2]:
!pip install ibm_db

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting ibm_db
  Downloading ibm_db-3.1.4.tar.gz (1.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.8 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Installing backend dependencies ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: ibm_db
  Building wheel for ibm_db (pyproject.toml) ... done
  Created wheel for ibm_db: filename=ibm_db-3.1.4-cp38-cp38-linux_x86_64.whl size=41478382 sha256=ffeb815254a744e05d82c888079f4d87ed54e4496cc2a8b0da395e0861f7e1ed
  Stored in directory: /root/.cache/pip/wheels/29/8a/54/6483abefac5e30f2897d05de40bfd83a31b23f2c02182edb6c
Successfully built ibm_db
Installing collected packages: ibm_db
Successfully installed ibm_db-3.1.4

In [19]:
import ibm_db
import pandas as pd
import ibm_db_dbi

In [4]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "Enter_Your_DataBase"
dsn_hostname = "Enter_Your_Host_Name"
dsn_port = "Enter_Port_Number"               
dsn_protocol = "TCPIP"          
dsn_uid = "Enter_Your_UID"              
dsn_pwd = "Enter_Your_Pass"                 
dsn_security = "SSL"

In [5]:
dsn = (
    "DRIVER={0};"
    "DATABASE={1};"
    "HOSTNAME={2};"
    "PORT={3};"
    "PROTOCOL={4};"
    "UID={5};"
    "PWD={6};"
    "SECURITY={7};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd,dsn_security)

try:
    conn = ibm_db.connect(dsn, "", "")
    print ("Connected to database: ", dsn_database, "as user: ", dsn_uid, "on host: ", dsn_hostname)

except:
    print ("Unable to connect: ", ibm_db.conn_errormsg() )

Connected to database:  bludb as user:  qzm36043 on host:  2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud

In [9]:
createQuery = "create table Student(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), Phone INTEGER)"

createStmt = ibm_db.exec_immediate(conn,createQuery)

In [11]:
insertQuery = "insert into Student values (1, 'Krunal', 'Patel', 'Surat', 29634)"

insertStmt = ibm_db.exec_immediate(conn, insertQuery)

In [12]:
insertQuery1 = "insert into Student(ID, FNAME, LNAME, CITY, Phone) values (2, 'Ravi', 'Kundanani', 'Surat', 12345), (3, 'Riddhesh', 'Kumar', 'surat', 12367), (4, 'neel', 'lad', 'vapi', 09786), (5, 'sunny', 'kumar', 'surat', 43246), (6, 'nakul', 'kumar', 'surat', 54484), (7, 'ravan', 'parakh', 'bharuch', 55555), (8, 'sita', 'patel', 'patan', 88888), (9, 'urja', 'rajput', 'patan', 99999), (10, 'parthvi', 'bachani', 'surat', 77777), (11, 'vedant', 'patel', 'patan', 11111), (12, 'rahul', 'sharma', 'patna', 44444)"

insertStmt1 = ibm_db.exec_immediate(conn, insertQuery1)

In [13]:
updateQuery = "update Student SET FNAME = 'ram' WHERE ID = 7"

insertStmt2 = ibm_db.exec_immediate(conn, updateQuery)

In [20]:
#connection for pandas
pconn = ibm_db_dbi.Connection(conn)

In [22]:
query = "SELECT * FROM Student"
pdf = pd.read_sql(query, pconn)

In [23]:
pdf

    ID     FNAME      LNAME     CITY  PHONE
0    1    Krunal      Patel    Surat  29634
1    2      Ravi  Kundanani    Surat  12345
2    3  Riddhesh      Kumar    surat  12367
3    4      neel        lad     vapi   9786
4    5     sunny      kumar    surat  43246
5    6     nakul      kumar    surat  54484
6    7       ram     parakh  bharuch  55555
7    8      sita      patel    patan  88888
8    9      urja     rajput    patan  99999
9   10   parthvi    bachani    surat  77777
10  11    vedant      patel    patan  11111
11  12     rahul     sharma    patna  44444